body{
 font-family:Arial, sans-serif;
 margin:0;
 background:#0f172a;
 color:white;
}
header{
 background:#020617;
 padding:15px;
}
header h1{margin:0}
button{
 padding:6px 10px;
 border:none;
 border-radius:6px;
 cursor:pointer;
}
.card{
 background:#020617;
 padding:15px;
 margin:15px;
 border-radius:12px;
 box-shadow:0 0 15px rgba(0,255,255,.2);
}
input,textarea{
 width:100%;
 padding:8px;
 margin:5px 0;
 border-radius:6px;
 border:none;
}
img{border-radius:10px}
a{color:#38bdf8;text-decoration:none}
